<div [ngStyle]="{backgroundImage:'url(./assets/Tunnel-Mountain_1.jpg)'}"  class="background-texture">
  <mat-toolbar color="primary">
    myTomorrows Weather App
  </mat-toolbar>

  <div class="content">
    <mat-form-field>
      <mat-label class="dropdown-one-label">Select city</mat-label>
      <mat-select class="dropdown-one-values" [formControl]="cityControl">
        <mat-option class="not-empty-select" *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <router-outlet></router-outlet>
  </div>

  <router-outlet></router-outlet>

</div>
