.content {
    text-align: center;
    padding-top: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mr {
    margin-right: 16px;
}

.background-texture {
    margin:0px;
    height:100%;
    width:100%;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.dropdown-one-label {
    color:rgb(65, 61, 61);
    font-weight: 10px;
    font-size: 22px;
}



